.p { font-style: small-caps; BACKGROUND: RED; padding-left: 18px;
} 


.red {BACKGROUND-color: red;
} 

.H1 {color: red; TEXT-ALIGN: RIGHT;
}

i {
    text-align: center;
    font-size: 70px;
    color: blueviolet;
    text-shadow: 3px -4px 3px rgb(63, 63, 63);
}

.t1 {
    font-size: 26px;
    margin-top: -15px;
    color: rgb(252, 0, 252);
}

.abz{
    font-size: 3em;
    line-height: 0.8em;
    color: green;  
}
  
.zagalov {
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
  }
  img {
    width: 400px;
    height: 200px;
    border: 10px solid rgb(0, 47, 255);
  }
  .t2{
    font-size: 14px;
    font-family: "Monotype Corsiva", cursive; 
  }
  .table {
    border: 10px solid blue; 
    border-collapse: collapse; 
    width: 100%; 
  }
  
  .th {
    background-color: yellow;
    color: red;
    border: 3px dotted red; 
    padding: 8px;
    text-align: left; 
  }
  
  .td {
    background-color: green; 
    border: 2px solid yellow; 
    padding: 8px; 
  }
  .task7 {
    margin-top: 20vh;
  }
  .a12 {
    width: 750px;
    height: 450px;
    background-color: #ff66ff;
    margin-left: 30%;
}

.Foto {
    width: 100px;
    height: 100px;
    margin-left: 43%;
}

.s12 {
    border: 5px solid crimson;
    background-color: #cf9509;
}

.A {
    border: 3px dashed crimson;
    background-color: #c9956c;
    color: blue;
}

.task {
    border: 5px solid crimson;
    display: inline-block;
    padding: 3px; 
    margin-left: 32%;
}

.R {
    background-color: #cf9509;
    border: 4px solid crimson;
}