h1 {
    font-size: 2.5em;/*Это свойство устанавливает размер шрифта для элемента*/
    margin: 0;/*Устанавливает отступы (margin) для элемента равными нулю. Это означает, что элемент не будет иметь внешних отступов.*/
    background: linear-gradient(90deg, #ff007f, #7f00ff);/*фон градиент*/
    background-clip: text;/*Это свойство определяет, как фон будет применяться к тексту. */
    -webkit-text-fill-color: transparent;/* Это свойство устанавливает цвет заполнения текста. */
    animation: gradient 3s ease infinite;/* Это свойство применяет анимацию к элементу.*/
}